<nav class="navbar navbar-expand-lg navbar-dark red">
  <div>     
    <% if user_signed_in? %>
      <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:3000/">uToob<span class="sr-only">(current)</span></a>
      </li> 
      <li class="nav-item active">
        <a class="nav-link" href="movies_path">Movies<span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="http://localhost:3000/users/sign_in">Logout<span class="sr-only">(current)</span></a>
      </li>
   
    <% else %> 
      <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:3000/">uToob<span class="sr-only">(current)</span></a>
      </li> 
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:3000/users/sign_up">Sign Up<span class="sr-only">(current)</span></a>
      </li>
       
    <% end %>
  </div>
</nav>